<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>
<body>
    <center><h2>WELCOME TO THE TEXT ANALYZER</h2></center>
    <center><h3>Enter Your Text Here</h3></center>
    <form action="/analyse" method="post"> {% csrf_token %}
       <center> <textarea name="text" id="" cols="30" rows="5"></textarea></center>
       <center><input type="checkbox" name="removepunc" id="">Remove Punctuations</center>
       <center><input type="checkbox" name="fullcaps" id="">UPPERCASE</center>
       <center><input type="checkbox" name="newlinerem" id="">New Line Remover</center>
       <center><input type="checkbox" name="extraspacerem" id="">Extra Space Remover</center>
        <center><button type="submit">Analyze Text</button></center>
       
    </form>
</body>
</html>